@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/iransansweb(fanum).woff') format('woff');
    src: url('../fonts/iransansweb.eot') format('embedded-opentype');
    src: url('../fonts/iransansweb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'IRANSans';
}

body {
    font-family: 'IRANSans';
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'IRANSans';
}