<footer class="footer -dashboard py-30">
    <div class="row items-center justify-between">
        <div class="col-auto">
            <div class="text-13 lh-1">© کلیه حقوق این وبسایت متعلق به آکادمی آموزشی فاطمه کهکشان می باشد.</div>
        </div>
    </div>
</footer>