<header class="header -dashboard -dark-bg-dark-1 js-header">
    <div class="header__container py-20 px-30">
        <div class="row justify-between items-center">
            <div class="col-auto">
                <div class="d-flex items-center">
                    <div class="header__explore text-dark-1">
                        <button class="d-flex items-center js-dashboard-home-9-sidebar-toggle">
                            <i class="icon -dark-text-white icon-explore"></i>
                        </button>
                    </div>

                    <div class="header__logo mr-30 md:mr-20">
                        <a data-barba href="/">
                            <img class="" src="/img/general/galaxy-logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="d-flex items-center">

                    <div class="d-flex items-center">
                        <div class="relative sm:d-none">
                            <button class="js-darkmode-toggle text-light-1 d-flex items-center justify-center size-50 rounded-16 -hover-dshb-header-light">
                                <i class="text-24 icon icon-night"></i>
                            </button>
                        </div>

                        <div class="relative">
                            <button class="d-flex items-center text-light-1 d-flex items-center justify-center size-50 rounded-16 -hover-dshb-header-light" data-el-toggle=".js-cart-toggle">
                                <i class="text-20 icon icon-basket"></i>
                            </button>

                            <div class="toggle-element js-cart-toggle">
                                <div class="header-cart bg-white -dark-bg-dark-1 rounded-8">
                                    <div class="px-30 pt-30 pb-10">

                                        <div class="row justify-between x-gap-40 pb-20">
                                            <div class="col">
                                                <div class="row x-gap-10 y-gap-10">
                                                    <div class="col-auto">
                                                        <img src="/img/menus/cart/1.png" alt="image">
                                                    </div>

                                                    <div class="col">
                                                        <div class="text-dark-1 lh-15">دوره نهایی نقاشی از مبتدی تا پیشرفته...</div>

                                                        <div class="d-flex items-center mt-10">
                                                            <div class="lh-12 fw-500 line-through text-light-1 ml-10">179</div>
                                                            <div class="text-15 lh-12 fw-500 text-dark-1">79000 تومان</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <button><img src="/img/menus/close.svg" alt="icon"></button>
                                            </div>
                                        </div>

                                        <div class="row justify-between x-gap-40 pb-20">
                                            <div class="col">
                                                <div class="row x-gap-10 y-gap-10">
                                                    <div class="col-auto">
                                                        <img src="/img/menus/cart/2.png" alt="image">
                                                    </div>

                                                    <div class="col">
                                                        <div class="text-dark-1 lh-15">آموزش ساخت وب سایت خبری با React Node</div>

                                                        <div class="d-flex items-center mt-10">
                                                            <div class="lh-12 fw-500 line-through text-light-1 ml-10">179</div>
                                                            <div class="text-15 lh-12 fw-500 text-dark-1">79000 تومان</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <button><img src="/img/menus/close.svg" alt="icon"></button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="px-30 pt-20 pb-30 border-top-light">
                                        <div class="d-flex justify-between">
                                            <div class="text-18 lh-12 text-dark-1 fw-500">جمع کل:</div>
                                            <div class="text-18 lh-12 text-dark-1 fw-500">659000 تومان</div>
                                        </div>

                                        <div class="row x-gap-20 y-gap-10 pt-30">
                                            <div class="col-sm-6">
                                                <button class="button py-20 -dark-1 text-white -dark-button-white col-12">مشاهده سبد</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button class="button py-20 -purple-1 text-white col-12">تسویه حساب</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="relative d-flex items-center mr-10">
                        <img class="size-50" src="/img/misc/user-profile.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>