@using GalaxyLearn.Core.DTOs.User
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<section data-anim="fade" class="breadcrumbs is-in-view">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="breadcrumbs__content">

                    <div class="breadcrumbs__item ">
                        <a href="/">صفحه اصلی</a>
                    </div>

                    <div class="breadcrumbs__item ">
                        <a href="">فراموشی رمز عبور</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<br />

<div class="row justify-center items-center">
    <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 col-sm-10">
        <div class="px-50 py-50 md:px-25 md:py-25 bg-white shadow-1 rounded-16">
            <h3 class="text-30 lh-13">فراموشی رمز عبور</h3>
            <p class="mt-10">آیا هنوز ثبت نام نکرده اید؟ <a asp-action="Register" asp-controller="Account" class="text-purple-1">ثبت نام</a></p>

            <form class="contact-form respondForm__form row y-gap-20 pt-30" asp-controller="Account" asp-action="ForgetPassword" id="forgetPasswordForm">
                <div class="col-12">
                    <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">شماره موبایل</label>
                    <input asp-for="PhoneNumber" type="text" placeholder="*********09">
                    <span asp-validation-for="PhoneNumber" class="text-danger mb-2"></span>
                </div>
                <div class="col-12">
                    <button type="submit" name="submit" id="submit" class="button -md -green-1 text-dark-1 fw-500 w-1/1">
                        ثبت
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<br />
<br />

@section Scripts {
    <script>

        $(document).ready(function () {
            onlyNumber();
            forgetPasswordSubmit();
        });

        function onlyNumber() {
            $('#PhoneNumber').on('input', function () {
                $(this).val($(this).val().replace(/[^0-9]/g, ''));
            });
        }

        function forgetPasswordSubmit() {
            $("#forgetPasswordForm").submit(function (event) {
                event.preventDefault();

                $.ajax({
                    url: $(this).attr("action"),
                    method: $(this).attr("method"),
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            sendSms(result.activeCode);
                            setTimeout(function () {
                                window.location.href = '/Account/VerificationForgetPasswordCode/' + result.activeCode;
                            }, 2000);
                        }
                        else {
                            Swal.fire({
                                icon: "error",
                                title: "خطا!",
                                text: result.message,
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: "error",
                            title: "خطا!",
                            text: 'در فرآیند ورود شماره تلفن خطایی رخ داده است! دوباره امتحان کنید.',
                        });
                    }
                });
            });
        }

        function sendSms(activeCode) {
            $.ajax({
                url: '/Account/SendForgetPasswordSms',
                method: 'POST',
                data: {
                    activeCode: activeCode
                },
                success: function (result) {
                    Swal.fire({
                        icon: "success",
                        text: result.message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                },
                error: function (error) {
                }
            });
        }

        $.ajax({
            url: '/Account/SendForgetPasswordSms',
            method: 'POST',
            data: {
                activeCode: activeCode
            },
            success: function (result) {
                Swal.fire({
                    icon: "success",
                    text: result.message,
                    showConfirmButton: false,
                    timer: 1000
                });
            },
            error: function (error) {
                Swal.fire({
                    icon: "error",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    </script>
}