@using GalaxyLearn.DataLayer.Entities.User
@model User

@{
    ViewData["Title"] = "تایید شماره موبایل";
}

<link href="/css/verification.css" rel="stylesheet" />

<section data-anim="fade" class="breadcrumbs is-in-view">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="breadcrumbs__content">

                    <div class="breadcrumbs__item ">
                        <a href="/">صفحه اصلی</a>
                    </div>

                    <div class="breadcrumbs__item ">
                        <a href="">فراموشی رمز عبور</a>
                    </div>
                    <div class="breadcrumbs__item ">
                        <a href="">تایید شماره موبایل</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="row justify-center items-center height-75">

    <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 col-sm-10 height-100">
        <div class="px-50 py-50 md:px-25 md:py-25 bg-white shadow-1 rounded-16">

            <div class="text-center">
                <h4>کد تایید ارسال شده را وارد کنید </h4><br />
                <div>
                    <span>
                        کد تایید به شماره
                        <small>@Model.PhoneNumber.Substring(7, 4)***@Model.PhoneNumber.Substring(0, 4)</small>
                        ارسال شده است
                    </span>
                </div>
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2" dir="ltr">
                    <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
                </div>
                <br />
                <div class="content d-flex justify-content-center align-items-center">
                    <button type="submit" class="button -md -green-1 text-dark-1 fw-500" onclick="verifyCode()">
                        تایید
                    </button>
                </div>
            </div>
            <br />
            <div class="content d-flex justify-content-center align-items-center">
                <span>هنوز کد را دریافت نکردید؟ </span>
            </div>

            <div class="content d-flex justify-content-center align-items-center">
                <button onclick="resendSms('@Model.ActiveCode');" id="resendBtn" class="text-decoration-none btn-link" disabled>
                    ارسال مجدد کد تایید
                    <span id="timer">01:00</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/verification.js"></script>

    <script>

        $(document).ready(function () {
            refresh();
            $("#otp input").keypress(function (event) {
                verifyCode();
            });
        });

        let timeInSeconds;

        function updateTimer() {
            const minutes = Math.floor(timeInSeconds / 60);
            const seconds = timeInSeconds % 60;
            $('#timer').text(`${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`);

            if (timeInSeconds === 0) {
                $('#timer').hide();
                $('#resendBtn').prop('disabled', false);
            }
        }

        function decrementTimer() {
            if (timeInSeconds > 0) {
                timeInSeconds--;
                updateTimer();
                setTimeout(decrementTimer, 1000);
            }
        }

        function verifyCode() {
            var firstValue = $('#first').val();
            var secondValue = $('#second').val();
            var thirdValue = $('#third').val();
            var fourthValue = $('#fourth').val();


            if (firstValue !== '' && secondValue !== '' && thirdValue !== '' && fourthValue !== '') {
                var concatenatedValue = firstValue + secondValue + thirdValue + fourthValue;

                $.ajax({
                    url: '/Account/VerificationForgetPasswordCode',
                    method: 'post',
                    data: {
                        userId: @Model.UserId,
                        tempCode: concatenatedValue
                    },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                icon: "success",
                                title: "تایید شماره موبایل",
                                text: result.message,
                                showConfirmButton: false,
                                timer: 2000
                            });
                            setTimeout(function () {
                                window.location.href = '/Account/ResetPassword/' + result.activeCode;
                            }, 2000);
                        }
                        else {
                            Swal.fire({
                                icon: "error",
                                title: "خطا در تایید شماره موبایل",
                                text: result.message
                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: "error",
                            title: "خطا در تایید شماره موبایل"
                        });
                    }
                });
            } else {
                Swal.fire({
                    icon: "error",
                    title: "کد تایید را وارد کنید",
                    showConfirmButton: false,
                    timer: 1500
                });
            }

        }

        function resendSms(activeCode) {
            $.ajax({
                url: '/Account/SendForgetPasswordSms',
                method: 'POST',
                data: {
                    activeCode: activeCode
                },
                success: function (result) {
                    Swal.fire({
                        icon: "success",
                        text: result.message,
                        showConfirmButton: false,
                        timer: 1000
                    });
                },
                error: function (error) {
                    Swal.fire({
                        icon: "error",
                        text: error.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
            refresh();
        }

        function refresh() {
            timeInSeconds = 60;
            decrementTimer()
            $('#timer').show();
            $('#resendBtn').prop('disabled', true);
        }

    </script>
}